*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    background-color: #F5F5F5;
}

/* Styling for Navbar */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 123456768;
    min-width: 100%;
    max-height: 75px;
    background-color: #333333;
}

.navbar nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}

.navbar nav p:first-of-type{
    font-size: 25px;
    line-height: 155.02%;    
}

.navbar nav .classroom-link{
    font-size: 14px;
    line-height: 155.02%;    
}

/* Stling for Profile and Form */
/* Styling for Profile */

main{
    margin-top: 9rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 684px;
}

.left{
    min-width: 30%;
    max-height: 684px;
    text-align: center;
}

.profile-img{
    position: relative;
    margin-bottom: 25px;
}

.profile-img img{
    width: 227px;
    height: 248px;
    border-radius: 17px;
}

.profile-img .camera-div{
    position: absolute;
    bottom: -5px;
    right: 185px;
    width: 39px;
    height: 39px;
    background: linear-gradient(180deg, #800165 0%, #D3014E 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.left h2{
    font-size: 30px;
    margin-bottom: 2rem;
}

.left .short-links{
    width: 80%;
    margin: 0 10%;
    margin-top: 20%;
}

.profile,
.attendance,
.courses{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}

.fa-user,
.fa-graduation-cap,
.att-check{
    width: 53px;
    height: 53px;
    background: #FFFFFF;
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile p,
.attendance p,
.courses p{
    font-weight: 400;
    font-size: 20px;
    line-height: 155.02%;
    color: #30302E;
}

.fa-angle-right{
    width: 6.42px;
    height: 12.83px;
}

.left .logout{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left .logout i{
    width: 20px;
    height: 20px;
    color: #ACB7EB;
}

.left .logout p{
    font-weight: 400;
    font-size: 17px;
    line-height: 155.02%;
    color: #ACB7EB;
}

.right{
    position: relative;
}

form{
    width: 659px;
    height: 684px;
    background: #FFFFFF;
    box-shadow: 0px 4px 29px #F0F3FF;
    border-radius: 35px;
    padding: 60px;
    padding-bottom: 0;
    padding-right: 0;
}

form label{
    font-weight: 400;
    font-size: 20px;
    line-height: 155.02%;
    color: #30302E;
}

form label span{
    color: #CC4174;
    margin-left: 1.2rem;
    font-weight: 400;
    font-size: 20px;
    line-height: 112.52%;
}


form .first-input{
    width: 461px;
    height: 53px;
    background: #F1F3FD;
    border-radius: 17px;
    margin: 1rem 0;
    padding: 0 1.5rem;
    font-weight: 400;
    font-size: 17px;
    line-height: 155.02%; /* or 26px */
    color: #C5CCEC;
    border: none;
}

li:not(last-of-type){
    margin-bottom: 2rem;
}

button{
    position: absolute;
    bottom: -20px;
    right: 250px;
    text-align: center;
    width: 200px;
    height: 65px;
    background: #066AEF;
    box-shadow: 0px 4px 14px rgba(51, 157, 255, 0.22);
    border-radius: 6px;
    font-weight: 700;
    font-size: 18px;
    line-height: 112.52%;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

button a{
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 112.52%;
    color: #FFFFFF;
}

.yes{
    margin-right: 1rem;
}

.top-check{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: linear-gradient(180deg, #800165 0%, #D3014E 100%);
    border-radius: 22px;
    position: absolute;
    top: 1rem;
    right: 2rem;
    color: #F5F5F5;
}

.fa-arrow-turn-down-left{
    width: 39px;
    height: 39px;
}

#course-of-study{
    padding: 0 1.5rem;
    width: 224px;
    height: 53px;
    background: #F1F3FD;
    border-radius: 17px;
    font-size: 20px;
    border: none;
    margin-right: 4px;
}

#grad-date{
    padding: 0 1.5rem;
    width: 299px;
    height: 53px;
    background: #F1F3FD;
    border-radius: 17px;
    font-size: 20px;
    border: none;
}

.first-input::placeholder,
#course-of-study::placeholder,
#grad-date::placeholder,
.fa-arrow-rotate-left{
    font-size: 14px;
    color: #C5CCEC
}

form label .no-span{
    color: #ACB7EB;
    margin-left: 1.2rem;
    font-weight: 400;
    font-size: 20px;
    line-height: 112.52%;
}












































/* 
.left{
    /* margin: 0 6rem 0 10rem; 
    /* width: 20%; 
    border: 4px solid black;
    margin-left: -20px;
    margin-right: 30px;
    text-align: center;
    /* height: 484px; 
}

.left .profile-img{
    position: relative;
}

.left .profile-img .profile-picture{
    /* max-width: 100%; 
    width: 227px;
    height: 248px;
    border-radius: 35px;
}

.left .profile-img .camera-div{
    position: absolute;
    width: 39px;
    height: 39px;
    left: 92px;
    /* top: 225px; 
    bottom: -14px;
    background: linear-gradient(180deg, #800165 0%, #D3014E 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left .profile-img .fa-camera{
    color: #FFFFFF;
}

.left h2{
    margin-top: 2rem;
    font-size: 30px;
    
}

.profile,
.courses,
.attendance{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profile .fa-user{
    padding: 8px;
    background-color: #F1F3FD;
    border-radius: 17px;
} */
